<?xml version="1.0" encoding="UTF-8"?>

<Values version="2.0">
  <value name="jc.api.tools_.services:listLocalAPIs">Anonymous</value>
  <value name="jc.reader.client.priv.jdbc:routeRawMessage">jcclient</value>
  <value name="jc.devops.console.resources_.services:getFileSummaryForType">Anonymous</value>
  <value name="jc.devops.console.docker_.ws.logs">Anonymous</value>
  <value name="jc.devops.console.docker_.ws.container">Anonymous</value>
  <value name="jc.devops.console.docker_.services:run">Anonymous</value>
  <value name="jc.testsuite.services.query">Anonymous</value>
  <value name="jc.cumulocity.tools._priv:envProperties">Anonymous</value>
  <value name="jc.soap.goodbye.services:goodbyeWorld">Anonymous</value>
  <value name="jc.writer.client_.services:submit">Anonymous</value>
  <value name="jc.test.apis.receiver_.services:saveAlt">Anonymous</value>
  <value name="jc.api.tools_.services">Anonymous</value>
  <value name="jc.oauth">Anonymous</value>
  <value name="jc.basictraining.v10_7.monitor:toplevel">Anonymous</value>
  <value name="jc.um.queue:_get">Anonymous</value>
  <value name="jc.reader.client.websocket:onError">Anonymous</value>
  <value name="jc.reader.client.websocket">jcclient</value>
  <value name="jc.api.goodbyeworld_.services:goodbyeWorld">Anonymous</value>
  <value name="jc.oauth.resource.user_.services">Anonymous</value>
  <value name="jc.reader.client.websocket:onConnect">Anonymous</value>
  <value name="jc.devops.console.docker_.services">Anonymous</value>
  <value name="jc.pub.api.text.categoriser_.services:learn">Anonymous</value>
  <value name="jc.devops.console.docker_.services:update">Anonymous</value>
  <value name="jc.reader.client.websocket:onClose">Anonymous</value>
  <value name="jc.api.helloworld_.services.v2:helloWorld">Anonymous</value>
  <value name="jc.soap:goodbye">Anonymous</value>
  <value name="jc.devops.console.docker_.ws:logs">Anonymous</value>
  <value name="jc.reader.client.priv:sendMessage">jcclient</value>
  <value name="jc.cumulocity.tools.app:health">Anonymous</value>
  <value name="jc.cumulocity.tools._priv:setProperties">Anonymous</value>
  <value name="jc.tools.pub.signature">Default</value>
  <value name="pub.chat.client.api_.services">Anonymous</value>
  <value name="jc.devops.console.docker_.services:label">Anonymous</value>
  <value name="jc.devops.console.docker_.services:build">Anonymous</value>
  <value name="jc">Internal</value>
  <value name="jc.api:goodbyeWorldWS">Anonymous</value>
  <value name="jc.test.swagger:apiPortalDescriptor">Anonymous</value>
  <value name="jc.scratch:helloWorld">Anonymous</value>
  <value name="jc.zuora.test.oauth:_post">Anonymous</value>
  <value name="jc.pub.api.text.categoriser_.services:categorise">Anonymous</value>
  <value name="jc.devops.console.docker_.services:install">Anonymous</value>
  <value name="jc.devops.console.resources_.services">Anonymous</value>
  <value name="jc.devops.console.docker_.ws">Anonymous</value>
  <value name="jc.cumulocity.tools.app:credentials">Anonymous</value>
  <value name="jc.test.runner.services">Anonymous</value>
  <value name="jc.philips.c8y.agent_.services">Anonymous</value>
  <value name="jc.test.apis.receiver_.services:receive">Anonymous</value>
  <value name="jc.reader.client:websocket">Anonymous</value>
  <value name="jc.document.api_.services">jcclient</value>
  <value name="jc.api.helloworld_.services.v1:helloWorld">Anonymous</value>
</Values>
